<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>en-US</string>
		<string>en-GB</string>
		<string>en-CA</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.905541026986-ss3q68h1j6r73n7dg7tu305ee4qh8brl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>905541026986-ss3q68h1j6r73n7dg7tu305ee4qh8brl.apps.googleusercontent.com</string>
</dict>
</plist>
